:root {
    --bg-primary-color: #19BC9C;
    --bg-secondary-color: #2C3E50;
    --bg-footer: #3B546D;


}

nav {
    background-color: var(--bg-secondary-color);
    color: white;
}

ul li {
    color: white;
    list-style: none;
    text-decoration: none;
}

ul li a {
    color: white;
    text-decoration: none;
}


.burger {
    color: white;
}

.about,
.start-bootstrap {
    background-color: var(--bg-primary-color);

}

button {
    background-color: transparent;
    border: solid white 1px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;

}

.rounded-circle {
    aspect-ratio: 1/1;
    width: 50px;

}

.rounded-circle i {
    color: white;

}

.btn-send {
    background-color: var(--bg-primary-color);

}


.info {
    background-color: var(--bg-footer);
    color: white;
}

footer {
    background-color: var(--bg-secondary-color);
    color: white;
}

.star-container-large {
    display: flex;
    align-items: center;
    width: 35%;
    min-width: 220px;
    max-width: 280px;
    margin: 0 auto;
}

.star-container-small {
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 130px;
    max-width: 260px;
    margin: 0 auto;
}

.star-container-small .star-line,
.star-container-large .star-line {
    height: 4px;
    border-radius: 2px;
    flex-grow: 1;
    background-color: white;
}

.star-container-large i,
.star-container-small i {
    margin: 0 1rem;
}

.img-header img {
    height: 250px;
}

.my-form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

textarea.my-form-control {
    min-height: 200px;
}

.primary-color {
    color: var(--bg-primary-color);
}